@tailwind base;
@tailwind components;
@tailwind utilities;



.protfolio{
  display: flex;
  background-color:rgb(158, 77, 77)
}
.about{
font-size: 18px;
color: lightblue;
font-weight: 900;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 7%;
justify-content: center;
margin: 30px;
font-style: italic;
}

.image{
  padding: 7%;
   border-radius: 100px;
  width: 1200px;
  margin-right: 10%;
  margin-top: 2px;


}

.thank{
  font-size: 22px;
  text-align: right;
}
